doctype html
html(lang='zh-cmn-Hans')
  head
    // 声明文档使用的字符编码
    meta(charset='utf-8')
    // 优先使用 IE 最新版本和 Chrome
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    // 页面描述
    meta(name='description', content='talks,悄悄话首页 , index,同城交友首页')
    // 页面关键词
    meta(name='keywords', content='')
    // 网页作者
    meta(name='author', content='Yi, ya10302@sina.com')
    // 搜索引擎抓取
    meta(name='robots', content='index,悄悄话首页')
    // 禁止百度转码
    meta(http-equiv='Cache-Control', content='no-siteapp')
    // 为移动设备添加 viewport
    meta(name='viewport', content='initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no')
    // `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 http://bigc.at/ios-webapp-viewport-meta.orz
    // 启用360浏览器的极速模式(webkit)
    meta(name='renderer', content='webkit')
    // 避免IE使用兼容模式
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓
    meta(name='HandheldFriendly', content='true')
    // 微软的老式浏览器
    meta(name='MobileOptimized', content='320')
    // uc强制竖屏
    meta(name='screen-orientation', content='portrait')
    // QQ强制竖屏
    meta(name='x5-orientation', content='portrait')
    // UC强制全屏
    meta(name='full-screen', content='yes')
    // QQ强制全屏
    meta(name='x5-fullscreen', content='true')
    // UC应用模式
    meta(name='browsermode', content='application')
    // QQ应用模式
    meta(name='x5-page-mode', content='app')
    // windows phone 点击无高光
    meta(name='msapplication-tap-highlight', content='no')
    // 禁止缓存
    meta(http-equiv='Expires', content='0')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Cache-control', content='no-cache')
    meta(http-equiv='Cache', content='no-cache')
    title Talks-首页
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    link(rel='stylesheet', type='text/css', href='icomoon/style.css')
  body
    .wrapper
      header.head
        .head_nav_box
          .head_nav
            div
              i#menu_bt.icon-three-bars
            div 首页
          .head_user
            #other_menu_bt
              span
              span
              span
            if user
              div
                a(href='/message')
                  i.icon-bell
            div
              a(href='/search')
                i.icon-search
        #menu.menu_box.trans_out
          .menu_list
            .my_user
              if user
                .user_img
                  img(src=user.userimg, alt='')
                .user_name
                  a(href="/user/"+user._id)=user.nickname
              else
                .login
                  a(href='/login') 登录
                .login
                  a(href='/register') 注册 
            .menu_content
              ul
                li.now_choice
                  a(href='')
                    img(src='img/logo.png', alt='')
                    span 首页
                li
                  a(href='/userindex')
                    i.icon-users
                    span 交友
                li
                  a(href='/search')
                    i.icon-compass2
                    span 发现
                li
                  a(href='/picturewall')
                    i.icon-photo
                    span 照片墙
            .user_menu_content
              ul
                li
                  a(href='/address')
                    i.icon-address-book
                    span 好友
                li
                  a(href='/collection')
                    i.icon-bookmark
                    span 收藏
                li
                  a(href='/userindex/editheart')
                    i.icon-file-empty
                    span 草稿
                li
                  a(href='/userindex/editheart')
                    i.icon-pen
                    span 心里话
            .theme 切换主题
        #other_menu.user_out.other_hidden
          span 关于
          a(href="/exit")
            span 安全退出
        #pink.pink.other_hidden
      // 主体部分
      .index_content
        // 图片切换
        #swipe-content.swipe-content
          #swipe-box.swipe-box
            img(src='img/swipe/1.jpg', alt='')
            img(src='img/swipe/2.jpg', alt='')
            img(src='img/swipe/3.jpg', alt='')
            img(src='img/swipe/4.jpg', alt='')
            img(src='img/swipe/5.jpg', alt='')
          ul.swipe_bt_box
            li#scb
  script(type='text/javascript', src='js/head.js')
  script(type='text/javascript', src='js/index.js')