doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 添加测试数据
  body
    h1 添加用户
    form(action='/init/add' , method='post')
      | 添加用户数量:
      input(type='text', name='usernum', value='100')
      | 添加心里话
      input(type='text',name='heartnum',value='20')
      | 添加评论
      input(type='text',name='commentnum',value='30')
      input(type='submit')