* {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  width: 100%;
  height: 100%;
}
html:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
html:-moz-full-screen {
  width: 100%;
  height: 100%;
}
html:-ms-fullscreen {
  width: 100%;
  height: 100%;
}
html:full-screen {
  width: 100%;
  height: 100%;
}
html:fullscreen {
  width: 100%;
  height: 100%;
}
body {
  height: auto;
  min-height: 100%;
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-size: 87.5%;
  font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", sans-serif;
}
.wrapper {
  min-height: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-size: 87.5%;
  font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", sans-serif;
}
.user-content {
  width: 100%;
  height: auto;
}
.loading {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  color: #f8bacf;
}
.loading i {
  line-height: 40px;
}
.main-bar {
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  font-size: 87.5%;
  font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", sans-serif;
  font-size: 1.2em;
  position: fixed;
  top: 0;
  margin: 0 auto;
  height: 3rem;
  z-index: 999;
  background-color: #297fb8;
}
.main-bar .main-back {
  width: 20%;
  float: left;
  height: 100%;
  text-indent: 0.5rem;
}
.main-bar .main-back i {
  line-height: 3rem;
  font-size: 1.3em;
  color: #fff;
}
.main-bar .main-nav {
  width: 60%;
  float: left;
  height: 100%;
  overflow: hidden;
  text-align: center;
  line-height: 3rem;
  color: #fff;
}
.main-bar .main-add {
  width: 10%;
  float: right;
  height: 100%;
  text-align: center;
}
.main-bar .main-add i {
  line-height: 3rem;
  font-size: 1.5em;
  color: #fff;
  font-weight: normal;
}
.copy {
  height: 5%;
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: #333;
  letter-spacing: 1px;
}
.user-main {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.user-main-contain {
  width: 100%;
  overflow: hidden;
  height: 28rem;
  position: relative;
  background-image: url(../img/photo/1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.user-head-img-box {
  width: 100%;
  margin-top: 16rem;
  height: 120px;
}
.user-head-img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
.user-img-show {
  width: 90%;
  height: 90%;
  padding: 5%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px #cee9e2;
}
.user-img-show img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  vertical-align: middle;
  box-shadow: 0 0 5px #cee9e2;
}
.user-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 5px #cee9e2;
}
.user-photo i {
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  line-height: 1.8em;
  color: #8d44ad;
}
.user-edit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 5px #cee9e2;
}
.user-edit i {
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  line-height: 1.8em;
  color: #8d44ad;
}
.user-name-box {
  width: 100%;
  height: auto;
}
.user-name-box h1,
.user-name-box h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-weight: normal;
  text-shadow: 1px 1px 1px #717171;
}
.user-name-box h1 {
  height: 40px;
  line-height: 40px;
  font-size: 1.8em;
}
.user-name-box h3 {
  font-size: 1.3em;
}
.user-menu {
  width: 100%;
  height: 40px;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #9a59b5;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.user-menu-box {
  width: 100%;
  height: 100%;
}
.user-menu-box div {
  width: 25%;
  height: 100%;
  text-align: center;
  float: left;
}
.user-menu-box div a {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
}
.user-menu-box div a i {
  height: 100%;
  font-size: 1.4em;
  color: #fff;
  line-height: 40px;
}
.attention {
  width: 100%;
  text-align: center;
  margin-top: 3%;
}
.attention button {
  width: 80px;
  height: 30px;
  background-color: #e67f22;
  margin: 0 3%;
  border: none;
  outline: none;
  color: #fff;
}
.attention button a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  line-height: 30px;
}
.user-index {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}
.fances,
.realname {
  width: 95%;
  height: 40px;
  margin: 3% 0;
  padding-left: 5%;
  background-color: #fff;
  line-height: 40px;
}
.user-info-desc {
  width: 100%;
  margin: 3% 0;
  background-color: #fff;
  height: auto;
}
.user-info-desc div {
  width: 100%;
  height: 40px;
  text-indent: 5%;
  line-height: 40px;
  border-top: 1px solid #e1e1e1;
}
.user-info-desc div span {
  display: block;
  height: 100%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-info-desc div span:nth-child(1) {
  width: 20%;
}
.user-info-desc div span:nth-child(2) {
  width: 80%;
}
.user-info-desc div span:nth-child(2) i {
  float: right;
  margin-right: 5%;
  font-size: 1.6em;
  height: 100%;
  line-height: 40px;
}
.user-make {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  margin: 3% 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.user-make span {
  display: block;
  float: left;
  height: auto;
  font-size: 1em;
  line-height: 1.8em;
}
.user-make span:nth-child(1) {
  width: 25%;
  text-indent: 5%;
}
.user-make span:nth-child(2) {
  width: 75%;
  letter-spacing: 2px;
}
.say-content {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.say-item {
  width: 100%;
  margin: 3% 0;
  height: auto;
  display: block;
  background-color: #FFF;
  list-style: none;
  padding: 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.say-item-content {
  width: 94%;
  margin: 0 3%;
  height: auto;
  display: block;
  overflow: hidden;
}
.say-user {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
}
.say-user-img-box {
  width: 60px;
  height: 100%;
  float: left;
}
.say-user-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.say-user-img img {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 100%;
  vertical-align: middle;
}
.say-title {
  width: auto;
  height: 100%;
  float: left;
}
.say-title h3,
.say-title h6 {
  margin: 0;
  padding: 0;
  height: auto;
  text-indent: 0.2cm;
}
.say-title h3 {
  margin-top: 0.5rem;
  font-size: 1.4em;
  color: #e91d62;
  font-weight: normal;
}
.say-title h6 {
  font-size: 0.8em;
  color: #fd5621;
  font-weight: normal;
}
.pushpin {
  position: absolute;
  top: 30%;
  right: 4%;
  z-index: 2;
  color: #727272;
}
.article-content {
  width: 100%;
  letter-spacing: 2px;
  line-height: 1.4em;
  font-size: 1.2em;
  color: #333333;
}
.article-img-box {
  width: 60%;
  height: auto;
  overflow: hidden;
}
.article-img-box ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.article-img-box ul li {
  width: 30%;
  height: 60px;
  margin: 1.5%;
  float: left;
  list-style: none;
}
.article-img-box ul li img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.say-item-local-icon {
  width: 100%;
  height: 40px;
}
.location {
  width: auto;
  float: left;
  height: 100%;
  line-height: 40px;
  margin-left: 3%;
  overflow: hidden;
  max-width: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #727272;
}
.choice-icon {
  width: auto;
  float: right;
  height: 100%;
  line-height: 40px;
}
.choice-icon span {
  height: 100%;
  display: block;
  float: left;
  width: 50px;
  color: #727272;
}
.choice-icon a {
  color: #727272;
}
.user-index-item-title {
  width: 100%;
  height: 40px;
  background-color: #9a59b5;
  position: relative;
}
.user-index-item-title-box {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
.item-first {
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
  background-color: #9b27ae;
}
.item-second {
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
  background-color: #b53ec9;
}
.user-item-title-content {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.user-item-title-content h3 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40px;
  line-height: 50px;
  font-size: 1.8em;
  color: #FFF;
}
.user-item-title-content p {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: #FFF;
}
.user-camera-content {
  width: 100%;
  height: auto;
  margin: 3% 0;
  padding-bottom: 3%;
  background-color: #fff;
}
.user-camera-content ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: auto;
  overflow: hidden;
}
.user-camera-content ul li {
  list-style: none;
  width: 32%;
  height: 100px;
  float: left;
  margin-top: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 2px #eee;
  margin-bottom: 2px;
  margin-left: 1%;
}
.user-camera-content ul li img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.user-real-info-content {
  width: 100%;
  height: auto;
  margin: 3% 0;
}
.info-group {
  width: 100%;
  height: 40px;
  border-top: 1px solid #e1e1e1;
  line-height: 40px;
  overflow: hidden;
  background-color: #fff;
}
.info-group span {
  display: block;
  height: 100%;
  float: left;
}
.info-group span:nth-child(1) {
  width: 25%;
  text-indent: 5%;
}
.info-group span:nth-child(2) {
  width: 75%;
}
.pink {
  width: 100%;
  height: 3rem;
}
.user_img_bg_look {
  position: fixed;
  z-index: 9998;
  background-color: #000;
  display: block;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.user_img_bg_look ul {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.user_img_bg_look ul li {
  list-style: none;
  height: 100%;
  float: left;
  padding: 0;
  width: auto;
  height: auto;
}
.go_back_main {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  z-index: 9999;
}
.index_num {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  z-index: 9999;
}
.upbt {
  width: 4rem;
  height: 2rem;
  padding-top: 1rem;
  line-height: 3rem;
  margin-left: 0.5rem;
}
.up_bt {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  display: block;
  background-color: #f39c11;
}
.sendmessage {
  width: 100%;
  height: 2rem;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: fixed;
  top: 3rem;
  z-index: 999;
  display: none;
  background-color: #ffa400;
  text-align: center;
  color: #fff;
  font-size: 0.625rem;
  line-height: 2rem;
}
.collectioned {
  color: #d35705;
}
.main-bar {
  background-color: #297fb8;
}
.friend_box_fixed {
  height: 5rem;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0;
  position: fixed;
  z-index: 99;
  top: 3rem;
  background-color: #fff;
}
.search_box {
  clear: both;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  margin: 3% 0 0 0;
  position: relative;
  box-shadow: 0px 0px 2px #666;
}
.search_box input {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 2rem;
  padding-left: 10%;
  border: none;
  border-radius: 2px;
  background-color: #ccc;
  margin-left: 5%;
  font-size: 0.875rem;
  letter-spacing: 2px;
  color: #333;
  text-indent: 0.2rem;
}
.search_box button {
  padding: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 6%;
  top: 0.5rem;
  border: none;
  background-color: transparent;
}
.search_box button i,
.search_box button i::before {
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  color: #fff;
}
.friend_menu {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  box-shadow: 0px 2px 2px #eee;
}
.friend_menu div {
  float: left;
  width: 18%;
  height: 100%;
  margin: 0 1%;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  color: #000;
}
.friend_menu div:nth-child(1) {
  color: #f39c11;
  border-bottom: 2px solid #f39c11;
}
.user_list_box {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.address_item {
  width: 100%;
  height: 4rem;
  list-style: none;
  box-shadow: 0px 0px 1px #ccc;
  margin: 0.5rem 0;
  position: relative;
}
.address_item .address_user_img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.25rem;
  float: left;
  overflow: hidden;
}
.address_item .address_user_img img {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px;
}
.address_item .address_user_content {
  float: left;
  width: 80%;
  height: 100%;
  text-indent: 0.5rem;
}
.address_item .address_user_content h3 {
  max-width: 24rem;
  width: 70%;
  margin: 0.6rem 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  color: #2d3e50;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.address_item .address_user_content div span {
  margin-right: 1rem;
  color: #888;
}
.address_item .address_user_content div span:nth-child(1) {
  color: #58d68d;
}
.adduser {
  width: 4rem;
  height: 1.8rem;
  background-color: #df840f;
  position: absolute;
  z-index: 9;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 0.625rem;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 2px;
  color: #fff;
}
@media screen and (min-width: 370px) {
  .adduser {
    top: 1rem;
  }
}
