.index-wrapper{
  height: 100%;
  width: 100%;
  background: url(/img/swipe/1.jpg) center no-repeat;
  /*background: rgba(249,248,248,1);*/
  /*background: rgba(183,211,242,1);*/
  /*background: rgba(73,218,255,1);*/
  /*background: rgba(226,49,179,1);*/
  /*background: rgba(179,136,235,1);*/
  background-size: 100% 100%;
  position: relative;
}
.index-nav-bar{
  width: 100%;
  bottom: 25%;
  left: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 0 .5rem;
  z-index: 3;
}
.index-nav-bar .nav-wrapper{
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.index-nav-bar .nav-wrapper .nav-bt{
  padding: .8rem 0;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
}
.index-nav-bar .nav-wrapper.login{
  padding-right: .5rem;
}
.index-nav-bar .nav-wrapper.register{
  padding-left: .5rem;
}
.index-nav-bar .nav-wrapper.login .nav-bt{
  float: right;
  background-color: #14BDEB;
  box-shadow: 0px 2px 2px #163549;
}
.index-nav-bar .nav-wrapper.register .nav-bt{
  float: left;
  background-color: #A011D8;
  box-shadow: 0px 2px 2px #331f3b;
}
.logo-wrapper{
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: url(/img/logo.png) center no-repeat;
  background-size: 100% 100%;
  animation: jump 4s ease-in infinite alternate-reverse;
}

@keyframes jump {
  from {
    bottom: 35%;
    width: 40px;
    height: 40px;
  }
  to{
    bottom: 45%;
    width: 100px;
    height: 100px;
  }
}
