.login-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  background: url(/img/login_bg.jpg) center no-repeat;
  background-size: 100% 100%;
}
.go-back-index{
  padding:.5rem;
  width: 100%;
  box-sizing: border-box;
}
.go-back-index .home{
  text-decoration: none;
  color: #e84c3d;
  padding: .5rem;
  display: inline-block;
}
.go-back-index .home .logo{
  height: 2rem;
}
.login-center{
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 25%;
  z-index: 2;
  left: 0;
}
.form-group{
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}
.normal-input{
  width: 100%;
  padding: .5rem .5rem .5rem 2.5rem;
  box-sizing: border-box;
  border: none;
  letter-spacing: 2px;
  color: #eee;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #eee;
  background: transparent;
}
.normal-input:focus{
  outline: none;
}
.normal-input::-webkit-input-placeholder{
  color: #FFF;
}
.lab{
  position: absolute;
  left: 0;
  top:0;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #fff;
}
.form-row{
  width: 100%;
  clear: both;
}
.bt{
  width: 100%;
  border-radius: 2px;
  padding: .6rem;
  box-sizing: border-box;
  text-align: center;
  border: none;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.bt:focus{
  outline: none;
}
.bt.login{
  background: #3598db;
  color: #fff;
  box-shadow: 0px 2px 2px #163549;
}
.row{
  width: 100%;
  clear: both;
}
.normal-bt{
  text-decoration: none;
  padding: .5rem;
}
.normal-bt.register{
  color: #9a59b5;
  display: inline-block;
  margin-top: .5rem;
}
.right{
  float: right;
}