.user-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}
.top-bar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  box-sizing: border-box;
  box-shadow: 0 0.2rem 0.2rem transparent;
}
.top-bar-wrapper::after{
  clear: both;
  display: block;
  content: "";
}
.top-bar-wrapper .top-bar{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0 3rem;
  background: #0fd0ef;
}
.top-bar-wrapper .top-bar::after{
  clear: both;
  display: block;
  content: "";
}
.top-bar-wrapper .top-bar .top-left{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  padding: .8rem;
  color: #fff;
}
.top-bar-wrapper .top-bar .top-right{
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  font-size: 1.2rem;
  padding: .8rem;
  color: #fff;
}
.top-bar-wrapper .top-bar .user-title{
  width: 100%;
  font-size: 1.2rem;
  padding: .8rem;
  text-align: center;
  display: block;
  color: #fff;
  box-sizing: border-box;
}
.error-wrapper .error-center .icon-warning{
  color: #ff760a;
}
.error-wrapper{
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  clear: both;
  transition: all .5s;
  padding: 0.5rem 1rem;
}
.error-wrapper .error-center{
  background: #fff;
  padding: .5rem;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #eee;
  color: #e10606;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  transition: all .5s;
}
.error-wrapper.active{
  transform: translateY(100%);
}
.user-info-wrapper{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  -webkit-overflow-scrolling : touch;
}
.user-info-wrapper::-webkit-scrollbar{
  width: 0;
}
.user-info-center{
  width: 100%;
  position: relative;
  padding-top: 3rem;
  background: #0fd0ef;
}
.user-info-center:after{
  clear: both;
  display: block;
  content: "";
}
.row{
  width: 100%;
}
.row::after{
  clear: both;
  display: block;
  content: "";
}
.user-thumb{
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}
.user-thumb-border{
  display: inline-block;
  background: #fff;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}
.user-thumb-border::after{
  clear: both;
  display: block;
  content: "";
}
.user-thumb-border .thumb{
  width: 100%;
  height: 100%;
  border : .35rem solid #fff;
  border-radius: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}
.user-nickname{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 3rem;  
}
.nickname{
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-abstract{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: .5rem 3rem 1.5rem 3rem;  
}
.abstract{
  width: 100%;
  font-size: .9rem;
  color: #5d5c5c;
  display: inline-block;
  text-align: center;
  max-height: 5.5rem;
  overflow: hidden;
}
.user-follow{
  height: 4rem;
  width: 100%;
}
.user-followers , 
.user-following{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.user-followers{
  float: left;
  background: #0bc3e0;
}
.user-following{
  float: right;
  background: #03adc7;
}
.user-followers .nums, 
.user-following .nums{
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  padding: .3rem .8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-followers .numser, 
.user-following .numser{
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #5d5c5c;
  font-size: .6rem;
  text-align: center;
}
.user-profile{
  background: #fff;
  padding: .2rem 0 1.2rem 1rem;
  box-sizing: border-box;
}
.user-profile-list{
  margin: 0;
  padding: 0;
}
.user-profile-i{
  list-style: none;
  border-bottom: 1px solid #ded7d7;
  padding: .8rem 1rem .8rem 0;
  box-sizing: border-box;
}
.user-profile-i .profile-name,
.user-profile-i .profile-text{
  display: block;
}
.user-profile-i .profile-name{
  color: #de5f0c;
  font-size: .8rem;
  padding: .3rem 0;
}
.user-profile-i .profile-text{
  color: #333;
  font-size: 1rem;
  font-style: 300;
}




























