.user-index-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}
.menu-list-wrapper{
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  top:0;
  left: -100%;
  background: rgba(30, 31, 31, 0.64);
  border-radius: 100%;
  transition: all .5s;
}
.menu-list-wrapper.active{
  transform: translate(100%,0);
  border-radius: 0;
}
.error-wrapper .error-center .icon-warning{
  color: #ff760a;
}
.error-wrapper{
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  clear: both;
  transition: all .5s;
  padding: 0.5rem 1rem;
}
.error-wrapper .error-center{
  background: #fff;
  padding: .5rem;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #eee;
  color: #e10606;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  transition: all .5s;
}
.error-wrapper.active{
  transform: translateY(100%);
}

.center-wrapper{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling : touch;
  overflow-scrolling : touch;
  padding: .5rem .5rem .5rem .5rem;
  background: #e1e1e1;
}
.center-wrapper.forbidden-scroll{
  overflow-y: hidden;
}
.center-wrapper::-webkit-scrollbar{
  width: 0;
}
.heart-list{
  width: 100%;
  height: auto;
}
.heart-list::after{
  clear: both;
  display: block;
  content: "";
}
.heart-i{
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  background: #fff;
  box-shadow: 0 0 0.3rem 0.2rem #cbcbcb;
}
.heart-i-pank{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
.heart-i-pank::after{
  clear: both;
  display: block;
  content: "";
}
.pank-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00dcff;
  overflow: hidden;
}
.heart-thumb{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.heart-thumb .thumb{
  width: 100%;
  min-height: 100%;
  vertical-align: middle;
}
.heart-photo-list{
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.heart-photo-list .photo-i{
  /*width: 100%;*/
  height: 100%;
  list-style:none;
  margin: 0;
  padding: 0;
  float: left;
}
.heart-photo-list .photo-i .photo{
  width: 100%;
  min-height: 100%;
}
.swipe-bar{
  position: absolute;
  bottom: .6rem;
  left: .6rem;
  background: #b8b8b8;
  color: #fff;
  border-radius: .6rem;
  box-sizing: border-box;
  padding: .2rem .6rem;
  font-size: .6rem;
  text-align: center;
  box-shadow: 0 0 0.1rem 0.1rem #999797, 0 0 0.6rem 0.2rem #e2d6d6 inset
}
.heart-i-op{
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 3;
}
.heart-i-op::after{
  clear: both;
  display: block;
  content: "";
}
.heart-i-op i{
  padding: .6rem;
  font-size: 1.5rem;
  color: #fff;
  user-select: none;
  display: inline-block;
}
.heart-i-content{
  width: 100%;
  height: auto;
  padding: .5rem;
  box-sizing: border-box;
}
.heart-i-content::after{
  clear: both;
  display: block;
  content: "";
}
.haert-i-username{
  margin: 0;
  padding: 0 0 .5rem 0;
  font-weight: 500;
}
.haert-i-username .username{
  font-size: 1.6rem;
  color: #333;
}
.haert-i-username .location{
  padding-left: .5rem;
  font-size: 1rem;
  color: #666;
}
.haert-i-username .location i{
  color: #4dd5f9;
  font-size: 1rem;
}
.heart-i-operator{
  width: 100%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem 0;
}
.heart-i-text{
  line-height: 1.2;
  max-height: 8.4rem;
  min-height: 4rem;
  overflow: hidden;
  color: #8f8f92;
  font-weight: 300;
}
.heart-read-more{
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border:1px dashed #6dcec5;
  border-radius: 3rem;
  padding: .6rem 1.8rem;
  color: #3cb19e;
}
.heart-read-more i{
  font-size: 1.1rem;
}
.top-bar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  box-sizing: border-box;
  background: rgb(5, 177, 216);
  box-shadow: 0 0.2rem 0.5rem rgba(10, 42, 51, 0.31)
}
.top-bar-wrapper::after{
  clear: both;
  display: block;
  content: "";
}
.top-bar-wrapper .top-username{
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.2rem;
  padding: .8rem 0;
  color: #fff;
  min-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.top-bar-wrapper .top-left{
  padding: .8rem;
  font-size: 1.2rem;
  color: #fff;
  float: left;
}
.top-bar-wrapper .top-right{
  float: right;
  font-size: 1.2rem;
  padding: .25rem .5rem .25rem .5rem;
  color: #fff;
  user-select:none;
  display: block;
}
.top-bar-wrapper .top-right .userimg{
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #046479;
}
.top-bar-wrapper .top-right .username{
  vertical-align: middle;
  display: inline-block;
  margin-right: .2rem;
}














