<header class="head">
  <div class="head_nav_box">
    <div class="head_nav">
      <div><i id="menu_bt" class="icon-three-bars"></i></div>
      <div>首页</div>
    </div>
    <div class="head_user">
      <div id="other_menu_bt"><span></span><span></span><span></span></div>
      <div><a href="/search"><i class="icon-search"></i></a></div>
    </div>
  </div>
  <div id="menu" class="menu_box trans_out">
    <div class="menu_list">
      <div class="my_user">
        <div class="login"><a href="/login">登录</a></div>
        <div class="login"><a href="/register">注册 </a></div>
      </div>
      <div class="menu_content">
        <ul>
          <li class="now_choice"><a href=""><img src="img/logo.png" alt=""><span>首页</span></a></li>
          <li><a href="/userindex"><i class="icon-users"></i><span>交友</span></a></li>
          <li><a href="/search"><i class="icon-compass2"></i><span>发现</span></a></li>
          <li><a href="/picturewall"><i class="icon-photo"></i><span>照片墙</span></a></li>
        </ul>
      </div>
      <div class="user_menu_content">
        <ul>
          <li><a href="/address"><i class="icon-address-book"></i><span>好友</span></a></li>
          <li><a href="/collection"><i class="icon-bookmark"></i><span>收藏</span></a></li>
          <li><a href="/userindex/editheart"><i class="icon-file-empty"></i><span>草稿</span></a></li>
          <li><a href="/userindex/editheart"><i class="icon-pen"></i><span>心里话</span></a></li>
        </ul>
      </div>
      <div class="theme">切换主题</div>
    </div>
  </div>
  <div id="other_menu" class="user_out other_hidden"><span>关于</span><a href="/exit"><span>安全退出</span></a></div>
  <div id="pink" class="pink other_hidden"></div>
</header>