<div class="login-wrapper">
  <div class="go-back-index">
    <a routerLink="/" class="home"><img src="/img/logo.png" class="logo" alt="Home"></a>
  </div>
  <div class="login-center">
    <form >
      <div class="form-group">
        <label for="username" class="lab"><i class="icon-user2"></i></label>
        <input type="text" class="normal-input" name="username" placeholder="User"/>
      </div>
      <div class="form-group">
        <label for="password" class="lab"><i class="icon-lock2"></i></label>
        <input type="password" class="normal-input" name="password" placeholder="Password"/>
      </div>
      <div class="form-row">
        <button class="bt login">Sign in</button>
      </div>
    </form>
    <div class="row">
      <a routerLink="/register" class="normal-bt right register">Sign up</a>
    </div>
  </div>
</div>