<div class="register-wrapper">
  <div class="go-back-index">
    <a routerLink="/" class="home"><img src="/img/logo.png" class="logo" alt="Home"></a>
  </div>
  <div class="register-center">
    <form #newUser="ngForm" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="username" class="lab"><i class="icon-user2"></i></label>
        <input type="text" class="normal-input" name="username" placeholder="User name" [(ngModel)]="user.username" required minlength="2" maxlength="24" (blur)="onCheckUserName()" />
        <label class="error" *ngIf="!empty.username"><i class="icon-cross" *ngIf="!valids.username||hasUser"></i><i class="icon-checkmark" *ngIf="valids.username&&!hasUser"></i></label>
      </div>
      <div class="form-group">
        <label for="password" class="lab"><i class="icon-lock2"></i></label>
        <input type="password" class="normal-input" name="password" placeholder="Password" [(ngModel)]="user.password" required minlength="6" maxlength="20" />
        <label class="error" *ngIf="!empty.password"><i class="icon-cross" *ngIf="!valids.password"></i><i class="icon-checkmark" *ngIf="valids.password"></i></label>
      </div>
      <div class="form-group">
        <label for="password" class="lab"><i class="icon-lock2"></i></label>
        <input type="password" class="normal-input" name="repassword" placeholder="Re-enter password" [(ngModel)]="user.repassword" required minlength="6" maxlength="20" />
        <label class="error" *ngIf="!empty.repassword"><i class="icon-cross" *ngIf="!valids.repassword"></i><i class="icon-checkmark" *ngIf="valids.repassword"></i></label>
      </div>
      <div class="form-row">
        <button class="bt register" [ngClass]="{'active':isCanSubmit}" type="submit">Sign up</button>
      </div>
    </form>
    <div class="row">
      <a routerLink="/login" class="normal-bt right login">Sign in</a>
    </div>
  </div>
</div>