<div class="user-index-wrapper">
  <div class="center-wrapper">
    <div class="heart-list">
      <div class="heart-i">
        <div class="heart-i-pank">
          <div class="pank-wrapper"></div> 
        </div>
        <div class="heart-i-content">
          <h3 class="haert-i-title">Introduction</h3>
          <article class="heart-i-text">
            Koa is a new web framework designed by the team behind Express, which aims to be a smaller, more expressive, and more robust foundation for web applications and 
          </article>
        </div>
        <div class="hear-i-operator"><a href="" class="heart-read-more">Read More</a></div>
      </div>
      <div class="heart-i">
        <div class="heart-i-pank">
          <div class="pank-wrapper"></div> 
        </div>
        <div class="heart-i-content">
          <h3 class="haert-i-title">Introduction</h3>
          <article class="heart-i-text">
            Koa is a new web framework designed by the team behind Express, which aims to be a smaller, more expressive, and more robust foundation for web applications and 
          </article>
        </div>
        <div class="hear-i-operator"><a href="" class="heart-read-more">Read More</a></div>
      </div>
      <div class="heart-i">
        <div class="heart-i-pank">
          <div class="pank-wrapper"></div> 
        </div>
        <div class="heart-i-content">
          <h3 class="haert-i-title">Introduction</h3>
          <article class="heart-i-text">
            Koa is a new web framework designed by the team behind Express, which aims to be a smaller, more expressive, and more robust foundation for web applications and 
          </article>
        </div>
        <div class="hear-i-operator"><a href="" class="heart-read-more">Read More</a></div>
      </div>
      <div class="heart-i">
        <div class="heart-i-pank">
          <div class="pank-wrapper"></div> 
        </div>
        <div class="heart-i-content">
          <h3 class="haert-i-title">Introduction</h3>
          <article class="heart-i-text">
            Koa is a new web framework designed by the team behind Express, which aims to be a smaller, more expressive, and more robust foundation for web applications and 
          </article>
        </div>
        <div class="hear-i-operator"><a href="" class="heart-read-more">Read More</a></div>
      </div>
      <div class="heart-i">
        <div class="heart-i-pank">
          <div class="pank-wrapper"></div> 
        </div>
        <div class="heart-i-content">
          <h3 class="haert-i-title">Introduction</h3>
          <article class="heart-i-text">
            Koa is a new web framework designed by the team behind Express, which aims to be a smaller, more expressive, and more robust foundation for web applications and 
          </article>
        </div>
        <div class="hear-i-operator"><a href="" class="heart-read-more">Read More</a></div>
      </div>
      <div class="heart-i">
        <div class="heart-i-pank">
          <div class="pank-wrapper"></div> 
        </div>
        <div class="heart-i-content">
          <h3 class="haert-i-title">Introduction</h3>
          <article class="heart-i-text">
            Koa is a new web framework designed by the team behind Express, which aims to be a smaller, more expressive, and more robust foundation for web applications and 
          </article>
        </div>
        <div class="hear-i-operator"><a href="" class="heart-read-more">Read More</a></div>
      </div>
    </div>
  </div>
  <div class="top-bar-wrapper">
    <span class="top-left"><i class="icon-location"></i></span>
    <span class="top-username">{{user.nickname}}</span>
    <span class="top-right"><i class="icon-podcast"></i></span>
  </div>
  <div class="menu-list-wrapper" [ngClass]="{'active':showMenu}">
  </div>
  <div class="menu-wrapper" (click)="onSelectMenu()">
    <i class="icon-menu" *ngIf="!showMenu"></i>
    <i class="icon-cross" *ngIf="showMenu"></i>
  </div>
  <div class="error-wrapper" [ngClass]="{'active':error}">
    <span class="error-center"><i class="icon-warning"></i> {{error}}</span>
  </div>
</div> 