<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <% include layout/meta.html %>
  <title><%=title%></title>
  <% include layout/common-css.html %>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <div class="wrapper">
    <% include layout/header.html %>
    <!-- 主体部分-->
    <div class="index_content">
      <!-- 图片切换-->
      <div id="swipe-content" class="swipe-content">
        <div id="swipe-box" class="swipe-box"><img src="img/swipe/1.jpg" alt=""><img src="img/swipe/2.jpg" alt=""><img src="img/swipe/3.jpg" alt=""><img src="img/swipe/4.jpg" alt=""><img src="img/swipe/5.jpg" alt=""></div>
        <ul class="swipe_bt_box">
          <li id="scb"></li>
        </ul>
      </div>
    </div>
  </div>
  <% include layout/common-js.html %>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>