<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <% include layout/meta.html %>
  <title><%=title%></title>
  <% include layout/common-css.html %>
  <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
  <body>
  <div class="wrapper">
    <div class="head">
      <div class="head-logo-title">
        <h3><a href="/">首页</a></h3>
      </div>
      <div class="logo">Talk with Us</div>
    </div>
    <div class="login">
      <form action="/login" method="post">
        <div class="controller">
          <div class="forinput"><i class="icon-user2"></i></div>
          <input type="text" name="username" placeholder="User"/>
        </div>
        <div class="controller">
          <div class="forinput"><i class="icon-lock2"></i></div>
          <input type="password" name="password" placeholder="Password"/>
        </div>
        <button class="login-bt">登录</button>
      </form>
      <div class="other-choice"><a href="">忘记密码?</a><a href="/register">注册</a></div>
    </div>
    <% include layout/footer.html %>
  </div>
</body>
</body>
</html> 